body {
	background-color: #000000;
	display: inline-flex;
	flex-direction: column;
}

div.main {
	position: absolute;
	max-width: 600px;
	max-height: 600px;
	
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a.chase_img img {
	margin: 10px;
	border: 2px solid;
	border-radius: 3px;
}

a.chase_img img:hover {
	opacity: 0.66;
}

#ci1 img{
	border-color: #FF0000;
}

#ci2 img{
	border-color: #FF8000;
}

#ci3 img{
	border-color: #FFFF00;
}

#ci4 img{
	border-color: #00FF00;
}

#ci5 img{
	border-color: #00FF80;
}

#ci6 img{
	border-color: #00FFFF;
}

#ci7 img{
	border-color: #0000FF;
}

#ci8 img{
	border-color: #8000FF;
}

#ci9 img{
	border-color: #FF00FF;
}