body {
	background-color: #000000;
	display: inline-flex;
	flex-direction: column;
}

div.main {
	position: relative;
	max-width: 600px;
	max-height: 600px;
	
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a.chase_img_container img {
	position: absolute;
	margin: 10px;
	border: 2px solid;
	border-radius: 3px;
}

a.chase_img_container img:hover {
	opacity: 0.66;
}

#cic1 img{
	border-color: #FF0000;
}

#cic2 img{
	border-color: #FF8000;
}

#cic3 img{
	border-color: #FFFF00;
}

#cic4 img{
	border-color: #00FF00;
}

#cic5 img{
	border-color: #00FF80;
}

#cic6 img{
	border-color: #00FFFF;
}

#cic7 img{
	border-color: #0000FF;
}

#cic8 img{
	border-color: #8000FF;
}

#cic9 img{
	border-color: #FF00FF;
}